<div style="text-align:center">
  <h1>Welcome to Hell!</h1>
  <input type="text" [(ngModel)]="username" placeholder="Enter your username">
  <p>Your username is: {{ username }}</p>
  <button *ngIf="username !== ''" (click)="clearUsername()">Clear Username</button>
</div>

<app-calculator></app-calculator>
<h1 *ngIf="selectedPokemon !== null">You have selected: {{selectedPokemon.name}}</h1>
<div *ngFor="let pokemon of pokemons">
  <app-pokemon [pokemon]="pokemon" (cardClick)="selectPokemon(pokemon)" ></app-pokemon>
</div>



<router-outlet />
